/* * {

    box-sizing:border-box;
    margin:0;
    padding:0;
    user-select:none;
  
  }
  
  html {
  
    height:100%;
    width:100%;
  
  }
  
  body {
  
    align-content:space-around;
    background-color:#202830;
    color:#ffffff;
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto auto auto;
    height:100%;
    justify-items:center;
    padding:0 8px;
    width:100%;
  
  } */
#Restart{
  visibility: hidden;
  position: absolute;
  top: calc(50% + 50px);
  left: 50%;
  transform: translateX(-50%); 
}

#Restart.show{
  visibility: visible;

}

.button {
  padding: 15px 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}