#Restart{
  visibility: hidden;
  position: absolute;
  top: calc(50% + 50px);
  left: 50%;
  transform: translateX(-50%); 
}

#Restart.show{
  visibility: visible;
}

.button {
  padding: 15px 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: none;
}

.button:hover {background-color: rgb(102, 21, 52)}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px rgb(156, 39, 39);
  transform: translateY(4px);
}

body{
  background-color: rgb(99, 95, 91);
}

#Current-Score{
  z-index: 10;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: rgb(250, 243, 243);
  position: absolute;
  left: 0;
  padding-left: 3%;
  padding-top: 10px;
  width: 250px;
  border: rgb(0, 0, 0);
  border-style: groove;
  padding: 20px;
  margin: 20px;
  background-color: rgb(102, 21, 52);


}

#High-Score{
  z-index: 10;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: rgb(250, 243, 243);
  position: absolute;
  right: 0;
  padding-left: 90%;
  padding-top: 10px;
  width: 250px;
  border: rgb(0, 0, 0);
  border-style: groove;
  padding: 20px;
  margin: 20px;
  background-color: rgb(102, 21, 52);
}
 
#MyAudio{

  background-color: rgb(102, 21, 52);
  position: absolute; left: 40%; top: 93%; right: 50%;
  border: rgb(0, 0, 0);
  border-style: groove;
  
 }

 #menu{

  position: absolute;left: 20; top: 4em;
 }