#Restart{
  visibility: hidden;
  position: absolute;
  top: calc(50% + 50px);
  left: 50%;
  transform: translateX(-50%); 
}

#Restart.show{
  visibility: visible;
}

.button {
  padding: 15px 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: none;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px rgb(156, 39, 39);
  transform: translateY(4px);
}

body{
  background-color: rgb(99, 95, 91);
}